<!doctype <!DOCTYPE html>
<html>
<head>
    <title>rest-api-example</title>
</head>
<body>
    <h1>create new user</h1>

    <form action="" method="post">
        <label for="username">username</label>
        <input type="text" placeholder="ex. username1234" name="username"/>
        <label for="date_of_birth"></label>
        <input type="date" name="date_of_birth">
        <label for="date_joined"></label>
        <input type="date" name="date_joined">

        <button type="submit"> Submit</button>
    </form>
</body>
</html>